* {
  color: black;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: rgb(247, 245, 235);
}

.title {
  font-size: 5rem;
}

.todo-list {
  background-color: white;
  border: 1px solid rgb(40, 40, 40);
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 2rem 0rem;
  max-width: 80%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12),
              2px 2px 2px rgba(0, 0, 0, 0.12),
              4px 4px 4px rgba(0, 0, 0, 0.12);

  .todo-list-title {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    
    :hover {
      background-color: red !important;
    }
  }

  .todo {
    border-bottom: 1px solid black;

    .checkbox {
      background-color: white;
      border: 2px solid black;
      border-radius: 3px;
      width: 20px;
      height: 20px;
      position: absolute;
    }

    // sass being weird, nested :hover not working for non-link/button elements, so must explicitly declare here
    .checkbox:hover{
      cursor: pointer;
      background-color: rgb(179, 211, 179);
    }

    a {
      text-decoration: none;
      color: black;
      position: relative;
      left: 1.5rem;

      :hover{
        color: rgb(88, 88, 88);
        background-color: rgb(255, 251, 127);
      }
    }

    h3 {
      margin: 0.5rem 1rem 0.5rem 1rem;
    }
  }
}